*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 229, 229);
}
.header{
background-color: #333333;
text-align: center;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
}

.header h1{
    color: white;
    font-size: 30px;
}
.header h1:hover{
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 0 15px rgba(238, 246, 5, 0.7);

}
.header a{
    text-decoration: none;
}

.search-bar{
    margin : 20px auto;
    width: 100%;
    text-align: center;
    
}

.search-bar input{
    width: 50%;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

.search-bar button{
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 18px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(243, 229, 229);
    

}
.img-container img{
    width: 350px;
    height: 350px;
    margin: 10px;
}

@media(max-width:600px){
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .img-container img{
        width: 150px;
        height: auto;
        margin: 5px;
       
    }
    .img-container{
        background-color: black;
    }
    .header h1:hover {
        transition: box-shadow 0.3s ease, background-color 0.3s ease;
        box-shadow: 0 0 15px rgba(247, 255, 2, 0.7); 
    }
}    
